<!-- start Main Wrapper -->
<div class="main-wrapper scrollspy-container">

  <!-- start slick hero slider -->
  <div class="slick-hero-slider-wrapper">

    <div
      class="slider slick-hero-slider slick-slider-center-mode slick-animation slick-inner-dot alt-dot-position with-main-search-wrapper-2">

      <div class="slick-item">

        <div class="image-bg" style="background-image:url('/assets/images/hero-header-slider/01.jpg');">

          <div class="container">

            <div class="row">

              <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                <div class="slick-hero-slider-caption">
                  <span class="hero-caption-label animation fromBottom transitionDelay2 transitionDuration4">Pre-cation
                    title here</span>
                  <h1 class="animation fromBottom transitionDelay4 transitionDuration6">What course will you like to
                    learn?</h1>
                  <p
                    class="font22 line34 font300 font-roboto-condensed font19-xs mt-15 mb-30 animation fromBottom transitionDelay6 transitionDuration8">
                    Passed edward two talent effect seemed engage six. On ye great do child sorry lived. <strong>Proceed
                      cottage</strong> far letters ashamed get clothes day.</p>
                  <a href="#" class="animation fromBottom transitionDelay8 transitionDuration10"><span
                      class="bg-primary">More Details</span></a>
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="slick-item">
        <div class="image-bg" style="background-image:url('/assets/images/hero-header-slider/02.jpg');">

          <div class="container">

            <div class="row">

              <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                <div class="slick-hero-slider-caption">
                  <span class="hero-caption-label animation fromBottom transitionDelay2 transitionDuration4">Resources
                    resembled forfeited</span>
                  <h1 class="animation fromBottom transitionDelay4 transitionDuration6">How friendly followed repeated
                  </h1>
                  <p
                    class="font22 line34 font300 font-roboto-condensed font19-xs mt-15 mb-30 animation fromBottom transitionDelay6 transitionDuration8">
                    Inhabiting discretion the her dispatched <strong>decisively boisterous</strong> joy. Were wish open
                    is able of mile of. Waiting express if prevent it we an musical.</p>
                  <a href="#" class="animation fromBottom transitionDelay8 transitionDuration10"><span
                      class="bg-primary">More Details</span></a>
                </div>

              </div>

            </div>

          </div>

        </div>
      </div>

      <div class="slick-item">
        <div class="image-bg" style="background-image:url('/assets/images/hero-header-slider/03.jpg');">

          <div class="container">

            <div class="row">

              <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                <div class="slick-hero-slider-caption">
                  <span class="hero-caption-label animation fromBottom transitionDelay2 transitionDuration4">Prospect
                    kindness securing six</span>
                  <h1 class="animation fromBottom transitionDelay4 transitionDuration6">Great asked under voice downs
                  </h1>
                  <p
                    class="font22 line34 font300 font-roboto-condensed font19-xs mt-15 mb-30 animation fromBottom transitionDelay6 transitionDuration8">
                    Especially reasonable <strong>travelling she son</strong>. Has procured daughter followed repeated
                    who surprise. Law together prospect kindness securing six.</p>
                  <a href="#" class="animation fromBottom transitionDelay8 transitionDuration10"><span
                      class="bg-primary">More Details</span></a>
                </div>

              </div>

            </div>

          </div>

        </div>
      </div>

    </div>

  </div>
  <!-- end slick hero slider -->

  <div class="main-search-wrapper-2">

    <div class="container">

      <h6><i class="ion-search mr-5"></i> Search your courses</h6>

      <form class="form-wrapper clearfix">

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Find a course on virtually anything">
          <span class="input-group-btn">
            <button class="btn btn-warning" type="button">Search</button>
          </span>
        </div><!-- /input-group -->

      </form>

    </div>

  </div>

  <!-- start Introduction -->
  <section class="section">

    <div class="container">

      <div class="row">

        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

          <div class="section-title">
            <h2 class="text-center">What Do You Want to Learn</h2>
          </div>
        </div>

      </div>

      <div class="GridLex-gap-30 mt-10">

        <div class="GridLex-grid-noGutter-equalHeight GridLex-grid-center">

          <div class="GridLex-col-3_sm-4_xs-6_xss-12">

            <div class="course-category-icon">
              <div class="icon text-primary">
                <i class="icon-basket-loaded"></i>
              </div>
              <h4><a href="#">Business</a></h4>
              <div class="sub-category">
                <a href="#">Finance</a>
                <a href="#">Marketing</a>
                <a href="#">Commerce</a>
                <a href="#">Import/export</a>
                <a href="#">More</a>
              </div>
            </div>

          </div>

          <div class="GridLex-col-3_sm-4_xs-6_xss-12">

            <div class="course-category-icon">
              <div class="icon text-primary">
                <i class="icon-screen-desktop"></i>
              </div>
              <h4><a href="#">Computer &amp; IT</a></h4>
              <div class="sub-category">
                <a href="#">Networking</a>
                <a href="#">Database</a>
                <a href="#">Programming</a>
                <a href="#">Security</a>
                <a href="#">More</a>
              </div>
            </div>

          </div>

          <div class="GridLex-col-3_sm-4_xs-6_xss-12">

            <div class="course-category-icon">
              <div class="icon text-primary">
                <i class="icon-chemistry"></i>
              </div>
              <h4><a href="#">Science</a></h4>
              <div class="sub-category">
                <a href="#">Biology</a>
                <a href="#">Mathematics</a>
                <a href="#">Chemistry</a>
                <a href="#">Physics</a>
                <a href="#">More</a>
              </div>
            </div>

          </div>

          <div class="GridLex-col-3_sm-4_xs-6_xss-12">

            <div class="course-category-icon">
              <div class="icon text-primary">
                <i class="icon-music-tone-alt"></i>
              </div>
              <h4><a href="#">Music</a></h4>
              <div class="sub-category">
                <a href="#">Production</a>
                <a href="#">Ableton Live</a>
                <a href="#">Fundamentals</a>
                <a href="#">Guitar</a>
                <a href="#">More</a>
              </div>
            </div>

          </div>

          <div class="GridLex-col-3_sm-4_xs-6_xss-12">

            <div class="course-category-icon">
              <div class="icon text-primary">
                <i class="icon-vector"></i>
              </div>
              <h4><a href="#">Design</a></h4>
              <div class="sub-category">
                <a href="#">Typography</a>
                <a href="#">Lettering</a>
                <a href="#">Logo</a>
                <a href="#">Photoshop</a>
                <a href="#">More</a>
              </div>
            </div>

          </div>

          <div class="GridLex-col-3_sm-4_xs-6_xss-12">

            <div class="course-category-icon">
              <div class="icon text-primary">
                <i class="icon-camera"></i>
              </div>
              <h4><a href="#">Photography</a></h4>
              <div class="sub-category">
                <a href="#">Digital Photography</a>
                <a href="#">Editing</a>
                <a href="#">Portrait</a>
                <a href="#">Composition</a>
                <a href="#">More</a>
              </div>
            </div>

          </div>

          <div class="GridLex-col-3_sm-4_xs-6_xss-12">

            <div class="course-category-icon">
              <div class="icon text-primary">
                <i class="icon-note"></i>
              </div>
              <h4><a href="#">Writing</a></h4>
              <div class="sub-category">
                <a href="#">Storytelling</a>
                <a href="#">Copywriting</a>
                <a href="#">Screenwriting</a>
                <a href="#">Publishing</a>
                <a href="#">More</a>
              </div>
            </div>

          </div>

          <div class="GridLex-col-3_sm-4_xs-6_xss-12">

            <div class="course-category-icon">
              <div class="icon text-primary">
                <i class="icon-cup"></i>
              </div>
              <h4><a href="#">Culinary</a></h4>
              <div class="sub-category">
                <a href="#">Cooking</a>
                <a href="#">Food &amp; Drink</a>
                <a href="#">Oysters</a>
                <a href="#">Recipe Design</a>
                <a href="#">More</a>
              </div>
            </div>

          </div>

        </div>

      </div>

      <div class="text-center mt-50">
        <a href="#" class="btn btn-primary">More Categories</a>
      </div>

    </div>

  </section>
  <!-- end Introduction -->

  <!-- start Top Offer -->
  <section class="section bg-light">

    <div class="container">

      <div class="row">

        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

          <div class="section-title">
            <h2 class="text-center">Latest Courses</h2>
            <p>However venture pursuit he am mr cordial. Forming musical am hearing studied be luckily.
              <strong>Ourselves for determine</strong> attending how led gentleman sincerity.</p>
          </div>
        </div>

      </div>

      <div class="course-item-wrapper gap-20">

        <div class="GridLex-grid-noGutter-equalHeight GridLex-grid-center">

          <div class="GridLex-col-3_mdd-4_sm-6_xs-6_xss-12">
            <div class="course-item">
              <a href="#">
                <div class="course-item-image">
                  <img src="/assets/images/course-item/01.jpg" alt="Image" class="img-responsive" />
                </div>
                <div class="course-item-top clearfix">
                  <div class="course-item-instructor">
                    <div class="image">
                      <img src="/assets/images/testimonial/01.jpg" alt="Image" class="img-circle" />
                    </div>
                    <span>Mark Lassoff </span>
                  </div>
                  <div class="course-item-price bg-danger">
                    $19.56
                  </div>
                </div>
                <div class="course-item-content">
                  <div class="rating-wrapper">
                    <div class="rating-item">
                      <input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o"
                        data-fractions="2" data-readonly value="3.5" />
                    </div>
                    <span> (7 review)</span>
                  </div>
                  <h3 class="text-primary">Foundations of Enterprise Development for Windows</h3>
                  <p>Create Code That Screams with C++! Hours of Video Lecture, Lab Exercises and Dozens of Code Samples
                    for You To Use! Dave Pither-Patterson</p>
                </div>
                <div class="course-item-bottom clearfix">
                  <div><i class="fa fa-folder-open-o"></i><span class="block"> Programming</span></div>
                  <div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
                  <div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
                </div>
              </a>
            </div>
          </div>

          <div class="GridLex-col-3_mdd-4_sm-6_xs-6_xss-12">
            <div class="course-item">
              <a href="#">
                <div class="course-item-image">
                  <img src="/assets/images/course-item/02.jpg" alt="Image" class="img-responsive" />
                </div>
                <div class="course-item-top clearfix">
                  <div class="course-item-instructor">
                    <div class="image">
                      <img src="/assets/images/testimonial/02.jpg" alt="Image" class="img-circle" />
                    </div>
                    <span>Nicholas Mavrakis</span>
                  </div>
                  <div class="course-item-price bg-danger">
                    $19.56
                  </div>
                </div>
                <div class="course-item-content">
                  <div class="rating-wrapper">
                    <div class="rating-item">
                      <input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o"
                        data-fractions="2" data-readonly value="3.5" />
                    </div>
                    <span> (7 review)</span>
                  </div>
                  <h3 class="text-primary">Food Photography: Shooting at Restaurants</h3>
                  <p>She propriety immediate was improving. He or entrance humoured likewise moderate. Much nor game son
                    say feel.</p>
                </div>
                <div class="course-item-bottom clearfix">
                  <div><i class="fa fa-folder-open-o"></i><span class="block"> Photography </span></div>
                  <div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
                  <div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
                </div>
              </a>
            </div>
          </div>

          <div class="GridLex-col-3_mdd-4_sm-6_xs-6_xss-12">
            <div class="course-item">
              <a href="#">
                <div class="course-item-image">
                  <img src="/assets/images/course-item/03.jpg" alt="Image" class="img-responsive" />
                </div>
                <div class="course-item-top clearfix">
                  <div class="course-item-instructor">
                    <div class="image">
                      <img src="/assets/images/testimonial/03.jpg" alt="Image" class="img-circle" />
                    </div>
                    <span>Ange Ermolova</span>
                  </div>
                  <div class="course-item-price bg-danger">
                    $19.56
                  </div>
                </div>
                <div class="course-item-content">
                  <div class="rating-wrapper">
                    <div class="rating-item">
                      <input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o"
                        data-fractions="2" data-readonly value="3.5" />
                    </div>
                    <span> (7 review)</span>
                  </div>
                  <h3 class="text-primary">Introduction to HTML: Build a Portfolio Website</h3>
                  <p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite
                    deficient newspaper questions consulted</p>
                </div>
                <div class="course-item-bottom clearfix">
                  <div><i class="fa fa-folder-open-o"></i><span class="block"> Wed Design</span></div>
                  <div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
                  <div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
                </div>
              </a>
            </div>
          </div>

          <div class="GridLex-col-3_mdd-4_sm-6_xs-6_xss-12">
            <div class="course-item">
              <a href="#">
                <div class="course-item-image">
                  <img src="/assets/images/course-item/04.jpg" alt="Image" class="img-responsive" />
                </div>
                <div class="course-item-top clearfix">
                  <div class="course-item-instructor">
                    <div class="image">
                      <img src="/assets/images/testimonial/02.jpg" alt="Image" class="img-circle" />
                    </div>
                    <span>Nicholas Mavrakis</span>
                  </div>
                  <div class="course-item-price bg-danger">
                    $19.56
                  </div>
                </div>
                <div class="course-item-content">
                  <div class="rating-wrapper">
                    <div class="rating-item">
                      <input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o"
                        data-fractions="2" data-readonly value="3.5" />
                    </div>
                    <span> (7 review)</span>
                  </div>
                  <h3 class="text-primary">Foundations of Enterprise Development for Windows</h3>
                  <p>Create Code That Screams with C++! Hours of Video Lecture, Lab Exercises and Dozens of Code Samples
                    for You To Use! Dave Pither-Patterson </p>
                </div>
                <div class="course-item-bottom clearfix">
                  <div><i class="fa fa-folder-open-o"></i><span class="block"> Programming</span></div>
                  <div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
                  <div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
                </div>
              </a>
            </div>
          </div>

          <div class="GridLex-col-3_mdd-4_sm-6_xs-6_xss-12">
            <div class="course-item">
              <a href="#">
                <div class="course-item-image">
                  <img src="/assets/images/course-item/05.jpg" alt="Image" class="img-responsive" />
                </div>
                <div class="course-item-top clearfix">
                  <div class="course-item-instructor">
                    <div class="image">
                      <img src="/assets/images/testimonial/01.jpg" alt="Image" class="img-circle" />
                    </div>
                    <span>Mark Lassoff </span>
                  </div>
                  <div class="course-item-price bg-danger">
                    $19.56
                  </div>
                </div>
                <div class="course-item-content">
                  <div class="rating-wrapper">
                    <div class="rating-item">
                      <input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o"
                        data-fractions="2" data-readonly value="3.5" />
                    </div>
                    <span> (7 review)</span>
                  </div>
                  <h3 class="text-primary">Introduction to HTML: Build a Portfolio Website</h3>
                  <p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite
                    deficient ask him cold feel</p>
                </div>
                <div class="course-item-bottom clearfix">
                  <div><i class="fa fa-folder-open-o"></i><span class="block"> Wed Design</span></div>
                  <div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
                  <div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
                </div>
              </a>
            </div>
          </div>

          <div class="GridLex-col-3_mdd-4_sm-6_xs-6_xss-12">
            <div class="course-item">
              <a href="#">
                <div class="course-item-image">
                  <img src="/assets/images/course-item/06.jpg" alt="Image" class="img-responsive" />
                </div>
                <div class="course-item-top clearfix">
                  <div class="course-item-instructor">
                    <div class="image">
                      <img src="/assets/images/testimonial/04.jpg" alt="Image" class="img-circle" />
                    </div>
                    <span>Suttira Ketkaew</span>
                  </div>
                  <div class="course-item-price bg-danger">
                    $19.56
                  </div>
                </div>
                <div class="course-item-content">
                  <div class="rating-wrapper">
                    <div class="rating-item">
                      <input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o"
                        data-fractions="2" data-readonly value="3.5" />
                    </div>
                    <span> (7 review)</span>
                  </div>
                  <h3 class="text-primary">Foundations of Enterprise Development for Windows</h3>
                  <p>Create Code That Screams with C++! Hours of Video Lecture, Lab Exercises and Dozens of Code Samples
                    for You To Use! Dave Pither-Patterson</p>
                </div>
                <div class="course-item-bottom clearfix">
                  <div><i class="fa fa-folder-open-o"></i><span class="block"> Programming</span></div>
                  <div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
                  <div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
                </div>
              </a>
            </div>
          </div>

          <div class="GridLex-col-3_mdd-4_sm-6_xs-6_xss-12">
            <div class="course-item">
              <a href="#">
                <div class="course-item-image">
                  <img src="/assets/images/course-item/07.jpg" alt="Image" class="img-responsive" />
                </div>
                <div class="course-item-top clearfix">
                  <div class="course-item-instructor">
                    <div class="image">
                      <img src="/assets/images/testimonial/03.jpg" alt="Image" class="img-circle" />
                    </div>
                    <span>Ange Ermolova</span>
                  </div>
                  <div class="course-item-price bg-danger">
                    $19.56
                  </div>
                </div>
                <div class="course-item-content">
                  <div class="rating-wrapper">
                    <div class="rating-item">
                      <input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o"
                        data-fractions="2" data-readonly value="3.5" />
                    </div>
                    <span> (7 review)</span>
                  </div>
                  <h3 class="text-primary">Foundations of Enterprise Development for Windows</h3>
                  <p>Create Code That Screams with C++! Hours of Video Lecture, Lab Exercises and Dozens of Code Samples
                    for You To Use! Dave Pither-Patterson</p>
                </div>
                <div class="course-item-bottom clearfix">
                  <div><i class="fa fa-folder-open-o"></i><span class="block"> Programming</span></div>
                  <div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
                  <div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
                </div>
              </a>
            </div>
          </div>

          <div class="GridLex-col-3_mdd-4_sm-6_xs-6_xss-12">
            <div class="course-item">
              <a href="#">
                <div class="course-item-image">
                  <img src="/assets/images/course-item/08.jpg" alt="Image" class="img-responsive" />
                </div>
                <div class="course-item-top clearfix">
                  <div class="course-item-instructor">
                    <div class="image">
                      <img src="/assets/images/testimonial/02.jpg" alt="Image" class="img-circle" />
                    </div>
                    <span>Nicholas Mavrakis</span>
                  </div>
                  <div class="course-item-price bg-danger">
                    $19.56
                  </div>
                </div>
                <div class="course-item-content">
                  <div class="rating-wrapper">
                    <div class="rating-item">
                      <input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o"
                        data-fractions="2" data-readonly value="3.5" />
                    </div>
                    <span> (7 review)</span>
                  </div>
                  <h3 class="text-primary">Food Photography: Shooting at Restaurants</h3>
                  <p>She propriety immediate was improving. He or entrance humoured likewise moderate. Much nor game son
                    say feel.</p>
                </div>
                <div class="course-item-bottom clearfix">
                  <div><i class="fa fa-folder-open-o"></i><span class="block"> Photography </span></div>
                  <div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
                  <div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
                </div>
              </a>
            </div>
          </div>

        </div>

      </div>

    </div>

  </section>
  <!-- end Top Offer -->

  <!-- start Top Destinations -->
  <section class="section pb-70">

    <div class="container">

      <div class="row">

        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

          <div class="section-title">
            <h2 class="text-center">How Edutute Works</h2>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-sm-4">

          <div class="icon-featured">

            <h4>Learn at your own availability</h4>
            <span class="icon text-primary"><i class="ion-ios-timer-outline"></i></span>
            <p>Raising say express had chiefly detract demands she. Quiet led own cause three him marianne attended.</p>

          </div>

        </div>

        <div class="col-sm-4">

          <div class="icon-featured">

            <h4>Learn by watching short video</h4>
            <span class="icon text-primary"><i class="ion-ios-film-outline"></i></span>
            <p>Prospect humoured mistress to by proposal marianne attended. Simplicity the far admiration preference
              everything.</p>

          </div>

        </div>

        <div class="col-sm-4">

          <div class="icon-featured">

            <h4>Learn by real-time doing and pratacing</h4>
            <span class="icon text-primary"><i class="ion-ios-compose-outline"></i></span>
            <p>Our compass see age uncivil matters weather forbade her minutes. Ready how but truth son new under.</p>

          </div>

        </div>

      </div>

    </div>

  </section>
  <!-- end Top Destinations -->

  <div class="overflow-hidden half-image-content">

    <div class="GridLex-grid-noGutter-equalHeight">

      <div class="GridLex-col-6_sm-12_xs-12 bg-img"
        style="background-image:url('/assets/images/community-bg.jpg'); background-position: top right">
      </div>

      <div class="GridLex-col-6_sm-12_xs-12 bg-light">

        <div class="inner">

          <div class="promo-box-02">

            <h3 class="mb-20 text-primary">Join a Community of 1+ Million Students</h3>
            <p class="font20 line30 font300 font-roboto-condensed mb-20 font19-xs">Agreement far boy otherwise rapturous
              incommode favourite. Invitation excellence imprudence understood it continuing to.</p>
            <p class="mb-25">Dissuade ecstatic and properly saw entirely sir why laughter endeavor. In on my jointure
              horrible margaret suitable he followed speedily. Minuter him own clothes but observe country. </p>

            <a href="#" class="btn btn-primary btn-facebook btn-social mt-5">Join with Facebook</a>
            <a href="#" class="btn btn-primary btn-google-plus btn-social mt-5">Join with Google Plus</a>

          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="overflow-hidden half-image-content">

    <div class="GridLex-grid-noGutter-equalHeight">

      <div class="GridLex-col-6_sm-12_xs-12">

        <div class="inner">

          <div class="promo-box-02">

            <h3 class="mb-20 text-primary">Learn from anywhere anytime</h3>
            <p class="font20 line30 font300 font-roboto-condensed font19-xs mb-20">On insensible possession oh
              particular attachment at excellence in. The books arose but miles happy she.</p>
            <p class="mb-20">Dissuade ecstatic and properly saw entirely sir why laughter endeavor. In on my jointure
              horrible margaret suitable he followed speedily.</p>
            <div class="mt-30">
              <a href="#" class="btn btn-primary btn-app mt-5 clearfix">
                <span class="icon">
                  <i class="ion-social-apple"></i>
                </span>
                <span class="content">
                  Download on the
                  <span class="block">App Store</span>
                </span>
              </a>
              <a href="#" class="btn btn-primary btn-app mt-5 clearfix">
                <span class="icon">
                  <i class="ion-social-android"></i>
                </span>
                <span class="content">
                  Get it on
                  <span class="block">Google Play</span>
                </span>
              </a>
            </div>
          </div>

        </div>

      </div>

      <div class="GridLex-col-6_sm-12_xs-12 bg-img" style="background-image:url('/assets/images/app-bg.jpg');">
      </div>

    </div>

  </div>

  <!-- start Why Us -->
  <section class="section bg-light">

    <div class="container">

      <div class="row">

        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

          <div class="section-title">
            <h2 class="text-center">Try Edutute Premium, Free for 30 Days</h2>
            <p class="font22 line22 font300 font-roboto-condensed font19-xs">Only <strong class="text-primary">$15 per
                month</strong> afterwards.</p>
          </div>

        </div>

      </div>

      <div class="icon-fearured-2-wrapper bordered mt-10">

        <div class="GridLex-grid-noGutter-equalHeight">

          <div class="GridLex-col-7_sm-6_xs-12">

            <div class="icon-fearured-2">

              <h4 class="mb-15">Career Path job guarantee</h4>

              <div class="content clearfix">

                <div class="icon text-primary">
                  <i class="icon-trophy"></i>
                </div>

                <p>Raising say express had chiefly detract demands she. Quiet led own cause three him marianne attended.
                </p>

              </div>

            </div>

          </div>

          <div class="GridLex-col-5_sm-6_xs-12">

            <div class="icon-fearured-2">

              <h4 class="mb-15">Curriculum customized to you</h4>

              <div class="content clearfix">

                <div class="icon text-primary">
                  <i class="icon-equalizer"></i>
                </div>

                <p>Raising say express had chiefly detract demands she. Quiet led own cause three him marianne attended.
                </p>

              </div>

            </div>

          </div>

          <div class="GridLex-col-5_sm-6_xs-12">

            <div class="icon-fearured-2">

              <h4 class="mb-15">Pair with a professional recruiter</h4>

              <div class="content clearfix">

                <div class="icon text-primary">
                  <i class="icon-people"></i>
                </div>

                <p>Raising say express had chiefly detract demands she. Quiet led own cause three him marianne attended.
                </p>

              </div>

            </div>

          </div>

          <div class="GridLex-col-7_sm-6_xs-12">

            <div class="icon-fearured-2">

              <h4 class="mb-15">Meet with your mentor 4x a week</h4>

              <div class="content clearfix">

                <div class="icon text-primary">
                  <i class="icon-bubbles"></i>
                </div>

                <p>Raising say express had chiefly detract demands she. Quiet led own cause three him marianne attended.
                </p>

              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="text-center mt-50">
        <a href="#" class="btn btn-primary">Go Premium</a>
      </div>

    </div>

  </section>
  <!-- end Why Us -->

  <!-- start Promo -->
  <div class="promo-box-bg-img" style="background-image:url('/assets/images/teacher-bg.jpg');">
    <div class="container">
      <div class="row">

        <div class="row">

          <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

            <div class="section-title mb-30">
              <h2 class="text-center">Becoming our course contributor</h2>
              <p>Engaged its was evident pleased husband. Ye goodness felicity do disposal dwelling no. First am plate
                jokes to began of cause an scale.</p>
            </div>

            <div class="text-center mt-40">
              <a href="#" class="btn btn-primary">Learn more</a>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- end Promo -->

</div>
<!-- end Main Wrapper -->