<footer class="bg-191 pos-relative color-ccc bg-primary pt-50">
		<div class="abs-tblr pt-50 z--1 text-center">
			<div class="h-80 pos-relative"><div class="bg-map abs-tblr opacty-1"></div></div>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-4 col-sm-4">	
					<h5 class="f-title"><b>QUICK LINKS</b></h5>
					<ul class="mb-30 list-hover list-block list-a-ptb-5">
						<li><a href="#">Home Delivery</a></li>
						<li><a href="#">User Permissions</a></li>
						<li><a href="#">Download Apps</a></li>
						<li><a href="#">Newsletters</a></li>
						<li><a href="#">Subscriptions</a></li>
						<li><a href="#">Online Store</a></li>
					</ul>
				</div><!-- col-sm-2 -->
				
				<div class="col-lg-4 col-md-8 col-sm-8">	
					<div class="pl-10 pl-sm-0">	
						<h5 class="f-title"><b>FEATURED VIDEO</b></h5>
						
						<div class="sided-80x mb-30">
							<a class="s-left" href="#">
								<img src="/assets/static/images/video-1-300x300.jpg" alt="">
								<div class="hover-video sm"><span class="icon"><i class="ion-play"></i></span></div>
							</a><!-- s-left -->
							
							<div class="s-right pl-10 mb-30 ">
								<h5><a href="#"><b>Dan carter rolls back years while pro dominance leaves Englands</b></a></h5>
								<ul class="mtb-5 list-li-mr-20 color-ash">
									<li><i class="mr-5 font-12 ion-clock"></i>Jan 25, 2018</li>
									<li><i class="mr-5 font-12 ion-eye"></i>105</li>
								</ul>
							</div><!-- s-left -->
						</div><!-- sided-80x -->
						
						<div class="sided-80x mb-30">
							<a class="s-left" href="#">
								<img src="/assets/static/images/video-2-300x300.jpg" alt="">
								<div class="hover-video sm"><span class="icon"><i class="ion-play"></i></span></div>
							</a><!-- s-left -->
							
							<div class="s-right pl-10 mb-30 ">
								<h5><a href="#"><b>Dan carter rolls back years while pro dominance...</b></a></h5>
								<ul class="mtb-5 list-li-mr-20 color-ash">
									<li><i class="mr-5 font-12 ion-clock"></i>Jan 25, 2018</li>
									<li><i class="mr-5 font-12 ion-eye"></i>105</li>
								</ul>
							</div><!-- s-left -->
						</div><!-- sided-80x -->
					</div><!-- pl-10 -->
				</div><!-- col-sm-4 -->
				
				<div class="col-lg-2 col-md-4 col-sm-4">	
					<h5 class="f-title"><b>OUR WORK</b></h5>
					<ul class="mb-30 list-hover list-block list-a-ptb-5">
						<li><a href="#">In the Community</a></li>
						<li><a href="#">Today's Link</a></li>
						<li><a href="#">Our History</a></li>
						<li><a href="#">Our Events</a></li>
						<li><a href="#">Our Studio</a></li>
						<li><a href="#">Career</a></li>
					</ul>
				</div><!-- col-sm-2 -->
				
				<div class="col-lg-4 col-md-8 col-sm-8">		
					<div class="pr-10 pr-sm-0">	
						<h5 class="f-title"><b>RECENT POST</b></h5>
						
						<div class="sided-80x mb-30">
							<a class="s-left" href="#">
								<img src="/assets/static/images/sidebar-news-1-100x100.jpg" alt="">
								<div class="hover-video sm"><span class="icon"><i class="ion-play"></i></span></div>
							</a><!-- s-left -->
							
							<div class="s-right pl-10">
								<h5><a href="#"><b>Dan carter rolls back years while pro dominance...</b></a></h5>
								<ul class="mtb-5 list-li-mr-20 color-ash">
									<li><i class="mr-5 font-12 ion-clock"></i>Jan 25, 2018</li>
									<li><i class="mr-5 font-12 ion-eye"></i>105</li>
								</ul>
							</div><!-- s-left -->
						</div><!-- sided-80x -->
						
						<div class="sided-80x mb-30">
							<a class="s-left" href="#">
								<img src="/assets/static/images/sidebar-news-2-100x100.jpg" alt="">
								<div class="hover-video sm"><span class="icon"><i class="ion-play"></i></span></div>
							</a><!-- s-left -->
							
							<div class="s-right pl-10">
								<h5><a href="#"><b>Josua VS Parker: Worldcup winners and a mascat</b></a></h5>
								<ul class="mtb-5 list-li-mr-20 color-ash">
									<li><i class="mr-5 font-12 ion-clock"></i>Jan 25, 2018</li>
									<li><i class="mr-5 font-12 ion-eye"></i>105</li>
								</ul>
							</div><!-- s-left -->
						</div><!-- sided-80x -->
					</div><!--pr-10 -->
				</div><!-- col-sm-4 -->
				
			</div><!-- row -->
			
			<div class="mt-20 brdr-ash-1 opacty-4"></div>
			
			<div class="text-center ptb-30">
				<div class="row">
					<div class="col-sm-3">
						<a class="mtb-10" href="#"><img src="/assets/static/images/logo-white.png" alt=""></a>
					</div><!-- col-sm-3 -->
					
					<div class="col-sm-5">
						<p class="mtb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur placerat 
							tincidunt mauris semper lorem</p>
					</div><!-- col-sm-3 -->
					
					<div class="col-sm-4">
						<ul class="mtb-10 font-12 list-radial-35 list-li-mlr-3">
							<li><a href="#"><i class="ion-social-facebook"></i></a></li>
							<li><a href="#"><i class="ion-social-twitter"></i></a></li>
							<li><a href="#"><i class="ion-social-pinterest"></i></a></li>
							<li><a href="#"><i class="ion-social-google"></i></a></li>
							<li><a href="#"><i class="ion-social-rss"></i></a></li>
						</ul>
					</div><!-- col-sm-3 -->
				</div><!-- row -->
			</div><!-- text-center -->
		</div><!-- container -->
		
		<div class="bg-dark-primary ptb-15 text-left">
			<div class="container">
				<div class="row">
					
					<div class="col-sm-12 col-md-6">
						<p class="text-md-center font-9 pt-5 mtb-5"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
					</div><!-- col-sm-3 -->
					
					<div class="col-sm-12 col-md-6">
						<ul class="mtb-5 font-11 text-md-center text-right list-a-p-5">
							<li><a href="#">Home</a></li>
							<li><a href="#">Business</a></li>
							<li><a href="#">Sport</a></li>
							<li><a href="#">Politics</a></li>
							<li><a href="#">Travel</a></li>
							<li><a href="#">Lifestyle</a></li>
							<li><a href="#">Culture</a></li>
							<li><a href="#">Tech</a></li>
							<li><a href="#">Video</a></li>
						</ul>
					</div><!-- col-sm-3 -->
				</div><!-- row -->
				
			</div><!-- container -->
		</div><!-- container -->
	</footer>