{% load staticfiles %}
<!-- begin:: Footer -->
                <div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
                    <div class="kt-footer__copyright">
                        2019&nbsp;&copy;&nbsp;<a href="http://keenthemes.com/metronic" target="_blank"
                            class="kt-link">Keenthemes</a>
                    </div>
                    <div class="kt-footer__menu">
                        <a href="http://keenthemes.com/metronic" target="_blank"
                            class="kt-footer__menu-link kt-link">About</a>
                        <a href="http://keenthemes.com/metronic" target="_blank"
                            class="kt-footer__menu-link kt-link">Team</a>
                        <a href="http://keenthemes.com/metronic" target="_blank"
                            class="kt-footer__menu-link kt-link">Contact</a>
                    </div>
                </div>
                <!-- end:: Footer -->




























<!--<footer class="footer">-->
<!--          <div class="container-fluid clearfix">-->
<!--            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018-->
<!--              <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>-->
<!--            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with-->
<!--              <i class="mdi mdi-heart text-danger"></i>-->
<!--            </span>-->
<!--          </div>-->
<!--        </footer>-->