<!-- start Main Wrapper -->
<div class="main-wrapper scrollspy-container">

  <div class="breadcrumb-wrapper">

    <div class="container">

      <h1 class="page-title"> Page not found</h1>

      <div class="row">

        <div class="col-xs-12 col-sm-8">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active"> Page not found</li>
          </ol>
        </div>

        <div class="col-xs-12 col-sm-4 hidden-xs">
          <p class="hot-line"> <i class="fa fa-phone"></i> Hot Line: 1-222-33658</p>
        </div>

      </div>

    </div>

  </div>

  <div class="error-page-wrapper">

    <div class="container">

      <div class="row">

        <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

          <div class="error-404 text-primary">

            404

          </div>

          <h3>Oops... Page Not Found!</h3>

          <p>Now led tedious shy lasting females off. Dashwood marianne in of entrance be on wondered possible building.
            Wondered sociable he carriage in speedily margaret.</p>


          <a href="#" class="btn btn-primary mt-15">Back to home page</a>

        </div>

      </div>

    </div>

  </div>

</div>
<!-- end Main Wrapper -->