
		<!-- start Header -->
		<header id="header">
	  
        <!-- start Navbar (Header) -->
        <nav class="navbar navbar-primary navbar-fixed-top navbar-sticky-function">
        
          <div id="top-header">
        
            <div class="container">
            
              <div class="row">
              
                <div class="col-sm-6">
                  
                  <div class="top-header-widget">
                    <ul class="top-header-dropdown">
                      <li class="dropdown dropdown_hover">
                        <a id="currency-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <i class="ion-social-usd"></i> Dollar
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="currency-dropdown">
                          <li><a href="#"><i class="ion-social-usd"></i> Dollar</a></li>
                          <li><a href="#"><i class="ion-social-euro"></i> Europe</a></li>
                          <li><a href="#"><i class="ion-social-yen"></i> Yen</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  
                  <div class="top-header-widget">
                    <ul class="top-header-dropdown">
                      <li class="dropdown dropdown_hover">
                        <a id="language-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <i class="ion-android-globe"></i> English
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="language-dropdown">
                          <li><a href="#">English</a></li>
                          <li><a href="#">France</a></li>
                          <li><a href="#">Japanese</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  
                  <div class="top-header-widget hidden-xs">
                    <i class="ion-android-call"></i> <span class="number">1-800-900-9985</span>
                  </div>
                
                </div>
                
                <div class="col-sm-6">
                  
                  <div class="top-header-widget pull-right">
                    <a href="javascript:void(0)" class="btn-ajax-login" data-toggle="modal">
                      <i class="ion-log-in mr-3"></i> Sign-in
                    </a>
                  </div>
                  <div class="top-header-widget pull-right">
                    <a href="javascript:void(0)" class="btn-ajax-register" data-toggle="modal">
                      <i class="ion-person-add mr-3"></i> Sign-up
                    </a>
                  </div>
                  <div class="top-header-widget pull-right hidden-xs">
                    <a href="#">
                      <i class="fa fa-comments mr-3"></i> Support
                    </a>
                  </div>
                  
                
                </div>
                
              </div>
            
            </div>
            
          </div>
  
          <div class="container">
            
            <div class="navbar-header">
              <a class="navbar-brand" href="index-2.html"><i class="education-icon-book7"></i> Edu<strong class="uppercase">Tute</strong></a>
            </div>
            
            <div id="navbar" class="collapse navbar-collapse navbar-arrow">
            
              <ul class="nav navbar-nav navbar-right" id="responsive-menu">
              
                <li>
                  <a href="index-2.html">Home</a>
                  <ul>
                    <li>
                      <a href="#">Hero Header Option</a>
                        <ul>
                          <li><a href="index-hero-header-01.html">Hero Header Option 01</a></li>
                          <li><a href="index-hero-header-02.html">Hero Header Option 02</a></li>
                          <li><a href="index-hero-header-03.html">Hero Header Option 03</a></li>
                          <li><a href="index-hero-header-04.html">Hero Header Option 04</a></li>
                          <li><a href="index-hero-header-05.html">Hero Header Option 05</a></li>
                          <li><a href="index-hero-header-06.html">Hero Header Option 06</a></li>
                          <li><a href="index-hero-header-07.html">Hero Header Option 07</a></li>
                          <li><a href="index-hero-header-08.html">Hero Header Option 08</a></li>
                        </ul>
                    </li>
                    <li>
                      <a href="#">Layout Option</a>
                        <ul>
                          <li><a href="index-layout-01.html">Layout Option 01</a></li>
                          <li><a href="index-layout-02.html">Layout Option 02</a></li>
                          <li><a href="index-layout-03.html">Layout Option 03</a></li>
                          <li><a href="index-layout-04.html">Layout Option 04</a></li>
                        </ul>
                    </li>
                  </ul>
                </li>
                
                <li>
                  <a href="#">Course</a>
                  <ul>
                    <li><a href="course-category.html">Course Category</a></li>
                    <li>
                      <a href="course-grid.html">Course Result - Grid</a>
                      <ul>
                        <li><a href="course-grid-02.html">Course Result - Grid 02</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="course-list.html">Course Result - List </a>
                      <ul>
                        <li><a href="course-list-02.html">Course Result - List 02</a></li>
                        <li><a href="course-list-03.html">Course Result - List 03</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="course-detail.html">Course Detail</a>
                      <ul>
                        <li><a href="course-detail-02.html">Course Detail 02</a></li>
                        <li><a href="course-detail-03.html">Course Detail 03</a></li>
                        <li><a href="course-detail-04.html">Course Detail 04</a></li>
                      </ul>
                    </li>
                    <li><a href="course-watching.html">Course Watching</a></li>
                    <li><a href="course-review.html">Course Review</a></li>
                    <li>
                      <a href="course-attend.html">Course Attend</a>
                      <ul>
                        <li><a href="course-attend-02.html">Course Attend 02</a></li>
                      </ul>
                    </li>
                    <li><a href="course-confirmation.html">Course Confirmation</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Instructor</a>
                  <ul>
                    <li>
                      <a href="instructor-grid.html">Instructor - Grid</a>
                      <ul>
                        <li><a href="instructor-grid-02.html">Instructor - Grid 02</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="instructor-list.html">Instructor - List </a>
                      <ul>
                        <li><a href="instructor-list-02.html">Instructor - List 02</a></li>
                        <li><a href="instructor-list-03.html">Instructor - List 03</a></li>
                        <li><a href="instructor-list-04.html">Instructor - List 04</a></li>
                        <li><a href="instructor-list-05.html">Instructor - List 05</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="instructor-detail.html">Instructor Detail</a>
                      <ul>
                        <li><a href="instructor-detail-02.html">Instructor Detail 02</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="/blog">Blog</a>
                  <ul>
                    
                  </ul>
                </li>
                <li>
                  <a href="#">Page</a>
                  <ul>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="price.html">Pricing</a></li>
                    <li><a href="faq.html">Faq</a></li>
                    <li><a href="faq-02.html">Faq 02</a></li>
                    <li><a href="404-page.html">404 - Error Page</a></li>
                    <li><a href="static-page.html">Static Page</a></li>
                    <li><a href="typography.html">Typography</a></li>
                    <li><a href="element.html">Element</a></li>
                    <li><a href="component.html">Component</a></li>
                    <li><a href="#">Layout</a>
                      <ul>
                        <li><a href="layout-full-width.html">Full wdth</a></li>
                        <li><a href="layout-left-sidebar.html">Left Sidebar</a></li>
                        <li><a href="layout-right-sidebar.html">Right Sidebar</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="contact.html">Contact Us</a></li>
              </ul>
            
            </div>
            
          </div>
  
          <div id="slicknav-mobile"></div>
          
        </nav>
        <!-- end Navbar (Header) -->
  
      </header>
      <!-- end Header -->
  