{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Star Admin Free Bootstrap Admin Dashboard Template</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'custom_admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'custom_admin/vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'custom_admin/vendors/css/vendor.bundle.addons.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'custom_admin/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'custom_admin/images/favicon.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% include 'custom_admin/partials/_navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      {% include 'custom_admin/partials/_sidebar.html' %}
      <!-- partial -->
      <div class="main-panel">

        {% block content %}
        {% endblock %}
        
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        {% include 'custom_admin/partials/_footer.html' %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{% static 'custom_admin/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'custom_admin/vendors/js/vendor.bundle.addons.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'custom_admin/js/off-canvas.js' %}"></script>
  <script src="{% static 'custom_admin/js/misc.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'custom_admin/js/dashboard.js' %}"></script>
  <!-- End custom js for this page-->
</body>

</html>